.block-editorial
    .container
        display: flex
        flex-direction: column-reverse
        gap: $gutter-mobile
        @include media-breakpoint-up(md)
            align-items: center
            flex-direction: row
            gap: 0
    h2, p
        text-wrap: balance
    p:last-child
        margin-bottom: 0
    .text:not(:last-child)
        margin-bottom: $paragraph-margin-bottom
    figure
        display: block
        margin-bottom: 0
        @include media-breakpoint-up(md)
            border-radius: $border-radius
            overflow: hidden
    img
        height: auto
        width: 100%
    .cta
        align-items: flex-start
    &-rtl
        .container
            @include media-breakpoint-up(md)
                flex-direction: row-reverse
    
    .media
        margin-left: - $gutter-mobile
        margin-right: - $gutter-mobile

    @include media-breakpoint-up(md)
        .media
            margin-left: -6rem
            margin-right: -6rem
            width: calc(60% + 12rem)
        .content
            position: relative
            width: 40%
            z-index: 1
        & + &
            padding-top: 0
            @include margin-top(- $global-spacing)

    @include media-breakpoint-up(xxl)
        .media
            margin-left: -9rem
            margin-right: -9rem
            width: calc(60% + 18rem)