.block-paragraph
    .container
        @include media-breakpoint-up(md)
            align-items: center
            display: grid
            gap: $grid-gutter-width
            grid-template-columns: 1fr 1fr
    .cta
        grid-column-start: 2