.btn:not(.btn-filter)
    &::after
        @include icon("arrow-right")
        font-size: 1.4rem
        margin-left: .5rem
        vertical-align: -0.35rem
    @media (prefers-reduced-motion: no-preference)
        &:hover
            &::after
                transform: translateX(.3rem)
        &::after
            transition: transform $transition-duration $transition-effect

.btn-filter
    --bs-btn-color: $white
    --bs-btn-bg: $gray

.btn
    text-transform: uppercase