.hero
    background-color: $hero-background-color
    color: $hero-color
    position: relative
    .container
        @include padding-bottom($global-spacing)
        @include padding-top($global-spacing)
        display: flex
        min-height: $hero-min-height-mobile
        position: relative
        @include media-breakpoint-up(md)
            min-height: $hero-min-height
    .row
        align-items: center
        flex-basis: calc(100% + var(--bs-gutter-x))
    &-content
        display: flex
        flex-direction: column
        gap: $spacer
    h1
        @include font-size($hero-h1-font-size)
        color: var(--hero-title-color, $hero-color)
        margin-bottom: 0
        text-wrap: balance

    &-with-cover
        overflow: hidden

    &-cover
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        img,
        video
            height: 100%
            object-fit: cover
            pointer-events: none
            width: 100%
    
    &-cover-darken
        img
            filter: brightness(.3)
        & + div
            color: white
            .btn + .btn
                @include button-outline-variant($light)

    iframe
        aspect-ratio: 16 / 9
        height: 100%
        left: 50%
        opacity: 0
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        transition: opacity $global-transition
        width: auto
        @media (orientation: landscape)
            height: auto
            min-height: 100%
            min-width: 100vw
    
    .btn
        --bs-btn-color: $white
        --bs-btn-bg: transparent
        --bs-btn-hover-color: $white
        --bs-btn-hover-bg: transparent
        --bs-btn-focus-shadow-rgb: 217, 217, 217
        --bs-btn-active-color: $white
        --bs-btn-active-bg: transparent
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #000000;
        --bs-btn-disabled-bg: #ffffff;
    
    .is-playing
        iframe
            opacity: 1
