// https://github.com/twbs/bootstrap/blob/v5.3.8/scss/_variables.scss

$black: #000000
$white: #ffffff
$primary: $white
$body-bg: $black
$body-color: $white
$gray: #3d3d3d

$font-size-root: 1rem
$font-size-base: .9375rem
$font-family-sans-serif: 'PP Monument Extended', serif
$headings-font-family: $font-family-sans-serif
$headings-font-weight: 800
$small-font-size: .625rem

$h1-font-size: 3.125rem // 50
$h2-font-size: 2.5rem // 40
$h3-font-size: 1.875rem // 30
$h4-font-size: 1.5625rem // 25
$h5-font-size: 1.25rem // 20
$h6-font-size: 1rem // 12

$border-radius: 0

$breadcrumb-border-color: #333333

$btn-border-radius: 0
$btn-border-radius-sm: 0
$btn-border-width: 0
$btn-font-family: 'Krona One', sans-serif
$btn-font-size: .9375rem
$btn-font-weight: 400
$btn-padding-x: 0
$btn-padding-y: 0

$footer-background-color: $white
$footer-color: $black
$footer-logo-height: 20px

$global-spacing: 5rem
$global-spacing-semi: 2.5rem

$header-background-color: transparent
$header-color: $white
$header-height: 104px

$hero-background-color: $black
$hero-color: $white

$home-hero-h1-font-size: 4.6875rem // 75

$navbar-light-icon-color: $black
$navbar-dark-icon-color: $white

$transition-duration: .6s
$transition-translate: 2rem
$transition-effect: cubic-bezier(0.5, 0, 0, 1)
$global-transition: $transition-duration $transition-effect
