// https://github.com/twbs/bootstrap/blob/v5.3.8/scss/_variables.scss

$primary: #000000

$font-size-root: 1rem
$font-size-base: .9375rem
$font-family-sans-serif: 'PP Monument Extended', serif
$headings-font-family: 'Krona One', sans-serif
$headings-font-weight: 400
$small-font-size: .625rem

$h1-font-size: 3.125rem // 50
$h2-font-size: 2.5rem // 40
$h3-font-size: 2rem // 32
$h4-font-size: 1.5rem // 24
$h5-font-size: 1.25rem // 20
$h6-font-size: 1rem // 16

$navbar-light-icon-color: black
$navbar-dark-icon-color: white

$header-background-color: white
$header-color: black
$header-height: 104px

$hero-background-color: black
$hero-color: white

$footer-background-color: black
$footer-color: white
$footer-logo-height: 20px

$transition-duration: .6s
$transition-translate: 2rem
$transition-effect: cubic-bezier(0.5, 0, 0, 1)
$global-transition: $transition-duration $transition-effect

$border-radius: .625rem // 10