{{- /*
Renders a platform video via API.

@param {string} [id] The video id.
@param {string} [platform] The platform to use for embedding the video (vimeo and youtube).

@returns {template.HTML}
*/}}
{{- $id := .id | default false -}}
{{- $platform := .platform | default "youtube" -}}
{{- $poster := .poster | default false -}}
{{- $desktop := .desktop | default false -}}
{{- $mobile := .mobile | default false -}}
{{- $shorts := .shorts | default false -}}

{{- if eq $desktop false }}
  {{- if eq $shorts true }}
    {{- $desktop = site.Params.image.video.portrait.desktop | default false -}}
  {{- else }}
    {{- $desktop = site.Params.image.video.landscape.desktop | default false -}}
  {{- end }}
{{- end }}

{{- if eq $mobile false }}
  {{- if eq $shorts true }}
    {{- $mobile = site.Params.image.video.portrait.mobile | default false -}}
  {{- else }}
    {{- $mobile = site.Params.image.video.landscape.mobile | default false -}}
  {{- end }}
{{- end }}

{{- if and $platform $id }}
  {{- with $poster }}
    {{ partial "commons/image" (dict
      "src" . 
      "picture_class" "poster js-video-play-pause"
      "desktop" $desktop
      "mobile" $mobile
      "lazy" false
    ) }}
  {{- end }}
  <div class="js-{{ $platform }}-player" 
      id="{{ $id }}"
      data-video-id="{{ $id }}" 
      {{- if or .autoplay (eq .autoplay 0) }} data-video-autoplay="{{ .autoplay }}"{{ end }} 
      {{- if or .controls (eq .controls 0) }} data-video-controls="{{ .controls }}"{{ end -}}
      ></div>
{{- end }}