{{- with .Params.hero -}}
  {{- $cover := false -}}
  {{- $class := slice "hero hero-with-cover" -}}
  {{- if .video_embed -}}
    {{- $cover = "video_embed" -}}
    {{- $class = $class | append "hero-with-cover-video" -}}
  {{- else if .image -}}
    {{- $cover = "image" -}}
    {{- $class = $class | append "hero-with-cover-image" -}}
  {{- end -}}
  <header class="{{ delimit $class ` ` }}" {{- if site.Params.search.enable }} data-pagefind-body{{ end }} {{- partial "func/SetAnim.html" (dict "element" "hero") }}>
    {{ partial (print "commons/hero/cover/" $cover ".html") . }}
    <div class="container">
      <div class="row">
        <div class="hero-content">
          {{- with .title }}
            <h1>{{ . }}</h1>
          {{- end }}
          {{- with .ctas }}
          <div class="cta" role="group">
            {{- range . -}}
              <div>{{ partial "commons/cta.html" . }}</div>
            {{- end -}}
          </div>
          {{- end }}
      </div>
    </div>
  </header>
{{- end -}}