.container
    max-width: none
    padding-left: $gutter-mobile
    padding-right: $gutter-mobile
    @include media-breakpoint-up(md)
        padding-left: 3rem
        padding-right: 3rem
    @include media-breakpoint-up(lg)
        padding-left: 6rem
        padding-right: 6rem
    @include media-breakpoint-up(xxl)
        padding-left: 9rem
        padding-right: 9rem