.card
    .media
        background-color: black
        video
            object-fit: cover
        &--hover
            img
                opacity: 0

    @media (prefers-reduced-motion: no-preference) and (hover: hover) and (pointer: fine)
        a ~ .media
            picture
                transition: opacity $global-transition
        a:hover 
            & ~ .media
                picture
                    opacity: .7
                img
                    transform: none
                video + picture
                    opacity: 0
