.featured-image,
.featured-video
    @include media-breakpoint-down(md)
        margin-left: - $gutter-mobile
        margin-right: - $gutter-mobile
    @include media-breakpoint-up(md)
        border-radius: $border-radius
        overflow: hidden

.featured-video
    iframe
        aspect-ratio: 16/9
        height: auto
        width: 100%