.hero
    iframe
        aspect-ratio: 16 / 9
        height: 100%
        left: 50%
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        width: auto
        @media (orientation: landscape)
            height: auto
            width: 100vw
