.main-menu
    .nav
        --bs-nav-link-font-weight: 800
        text-transform: uppercase

    @include media-breakpoint-down($navbar-expand)
        .modal-dialog
            display: flex
            padding: 1rem
        .modal-content
            border-radius: .625rem
        .content
            align-items: center
            display: flex
            flex-direction: column
            justify-content: center
        .nav
            --bs-nav-link-font-size: clamp(2rem, 7vw, 4rem)