.yt
    aspect-ratio: 16/9
    overflow: hidden
    position: relative
    width: 100%
    iframe
        opacity: 0
        transition: opacity 0.5s ease
        &.is-ready
            opacity: 1
    // iframe
    //     height: 100%
    //     margin-left: -100%
    //     width: 300% !important