.block-datas
    p.value
        font-family: $headings-font-family
        font-weight: $headings-font-weight
    p.value,
    h3
        @include font-size($h4-font-size)
        line-height: 1
        text-transform: uppercase
