.block-editorial
    .row
        @include media-breakpoint-up(md)
            --bs-gutter-x: 3rem
    figure
        @include media-breakpoint-up(md)
            border-radius: $border-radius
            overflow: hidden
