.home-page
    
    header[role="banner"]
        transition: all .3s ease
        left: 0
        position: fixed
        right: 0

    .hero
        .container
            aspect-ratio: 9 / 16
            max-height: 90vh
            max-height: 90svh
            @media (orientation: landscape)
                aspect-ratio: 16 / 9
        
        h1
            font-size: clamp(2.25rem, 5vw, 6rem)
            // @include font-size($home-hero-h1-font-size)
