.home-page
    
    header[role="banner"]
        transition: all .3s ease
        left: 0
        position: fixed
        right: 0

    .hero
        .container
            height: 90vh
            height: 90svh
        
        h1
            font-size: clamp(2rem, 7vw, 6rem)
            // @include font-size($home-hero-h1-font-size)
