.page-projects
    .heading
        margin-bottom: 0
        h1
            min-width: 100%
    .sidebar
        display: flex
        flex-wrap: wrap
        gap: $grid-gutter-width
        @include media-breakpoint-down(md)
            flex-direction: column

        > *
            margin-bottom: 0
        .list-tags
            @include media-breakpoint-up(md)
                margin-left: auto
            p
                display: none
    .datas
        dl
            display: flex
            flex-wrap: wrap
        dt::after
            content: ": "
        li
            margin-bottom: .25rem
    p
        margin-bottom: 0

    .content-body
        max-width: 55rem

    .featured-video + .photos
        margin-top: $grid-gutter-width
        .splide__arrow
            top: calc(100% + 1.5rem)
    
    .carousel
        .splide__arrow
            background: transparent
            border-radius: 0
            top: -2em
            svg
                display: none
            &--prev
                left: calc(100% - 80px)
                &::after
                    @include icon("arrow-left")
                    font-size: 1.4rem
            &--next
                @include media-breakpoint-up(md)
                    right: 0
                &::after
                    @include icon("arrow-right")
                    font-size: 1.4rem
        .splide__track
            overflow: visible
        img
            height: auto
            display: block
            width: 100%
            @include media-breakpoint-up(md)
                border-radius: $border-radius
                overflow: hidden

    .grid 
        gap: $grid-gutter-width
        .sidebar,
        .content,
        nav
            grid-column: 1 / 13
        .content
            grid-row: auto
