.page-projects
    .heading
        margin-bottom: 0
        h1
            min-width: 100%
    .sidebar
        display: flex
        flex-wrap: wrap
        gap: $grid-gutter-width
        @include media-breakpoint-down(md)
            flex-direction: column

    .datas
        dl
            display: flex
            flex-wrap: wrap
        dt::after
            content: ": "
        li
            margin-bottom: .25rem
    figure,
    p
        margin-bottom: 0
    .content
        display: grid
        gap: $grid-gutter-width
        &:has(.featured-video--shorts)
            @include media-breakpoint-up(md)
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
    
    .content-body
        grid-column: 1 / -1
        max-width: 55rem

    .featured-video + .photos
        grid-column: 1 / -1
        .splide__arrow
            top: calc(100% + 1.5rem)
    
    .carousel
        // aspect-ratio: 2.3
        .splide__track
            height: 100%
            overflow: visible
        .splide__slide
            height: 100%
            max-width: 100%
        figure,
        picture
            height: 100%
        img
            height: 100%
            display: block
            width: auto
            @include media-breakpoint-up(md)
                border-radius: $border-radius
                overflow: hidden

    .images
        .carousel
            margin-left: 0
            margin-right: 0
        figcaption 
            p
                font-size: .625rem

    .grid 
        gap: $grid-gutter-width
        .heading,
        .sidebar,
        .content,
        nav
            grid-row: auto
            margin: 0
            order: initial
            @include media-breakpoint-up(md)
                grid-column: 1 / 13
