.page-projects
    .heading
        margin-bottom: 0
        h1
            min-width: 100%
    .sidebar
        display: flex
        flex-wrap: wrap
        gap: $grid-gutter-width
        @include media-breakpoint-down(md)
            flex-direction: column

    .datas
        dl
            display: flex
            flex-wrap: wrap
        dt::after
            content: ": "
        li
            margin-bottom: .25rem
    figure,
    p
        margin-bottom: 0
    .content
        display: grid
        gap: $grid-gutter-width

    .content-body
        max-width: 55rem

    .featured-video + .photos
        .splide__arrow
            top: calc(100% + 1.5rem)
    
    .carousel
        .splide__track
            overflow: visible
        img
            height: auto
            display: block
            width: 100%
            @include media-breakpoint-up(md)
                border-radius: $border-radius
                overflow: hidden
    
    // .photos
    //     .splide__slide
    //         width: 100%

    .grid 
        gap: $grid-gutter-width
        .heading,
        .sidebar,
        .content,
        nav
            grid-row: auto
            margin: 0
            order: initial
            @include media-breakpoint-up(md)
                grid-column: 1 / 13
